
#agGrid {
    width: 100%;
    height: 72.2vh;
    margin-top: 3px;
}
.ag-grid-div{
    width: 95%;
    margin: 0 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23), -5px -5px 10px rgba(0, 0, 0, 0.23);

}

.top-filter{
    margin: 0 auto;
}
.headTitle{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #367eae;
}

.go-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 7%;
    height: 37px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    border-radius: 9px;
    margin-left: 25px;
    background: linear-gradient(to right, #62afdb 0%, #2f77a7 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23), -5px -5px 10px #fff;

}
.mat-select-panel .mat-option {
    font-size: inherit;
    line-height: 1em;
    height: 2em;
}
::ng-deep.mat-form-field{
    margin: 10px;
    width: 262px;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline{
    height: 55px;
}