

<div class="top-filter">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Select Source</mat-label>
    <mat-select [(ngModel)]="selectedOption">
      <mat-option value="NORMALIZED">Process B NORMALIZED</mat-option>
      <mat-option value="DENORMALIZED">Process E DENORMALIZED</mat-option>
    </mat-select>
  </mat-form-field> 
  
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Log event count</mat-label>
    <input matInput placeholder="Log event count" type="number" [(ngModel)]="selectedRecords">
  </mat-form-field>
  
  <button class="go-button" (click)="onClickingButton()" >View Events 
  </button>
</div>
 
<div class="headTitle">
  {{headTitle}}
</div>
 <!-- Start of Ag-Grid control -->
 <div *ngIf="istableVisible" class="ag-grid-div">
   <ag-grid-angular class="ag-theme-balham" #agGrid id="agGrid" [columnDefs]="columnDefs" [sideBar]="false"
   [rowData]="data" [defaultColDef]="defaultColDef" [statusBar]="statusBar"[modules]="modules">
  </ag-grid-angular>
 </div>
<!-- End of Ag-Grid control -->